@import "tailwindcss";
button:hover {
  cursor: pointer;
}

.custom-scroll::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
 
}
.custom-scroll::-webkit-scrollbar-thumb {
  /* background-color: lightgray; */
  &:hover{
    width: 4px;
  }
}
